/.gradle/
/bin/
/build/
*.bak
**/bin/
**/build/
hs_err_pid*
*.lock
*.tmp
*.bak
*.class
*.log
pids
*.pid
*.seed
*.pid.lock
**/package-lock.json
**/node_modules/
*.npm
*.env
Thumbs.db
*.DS_Store
scenicView.properties
gradle.properties